@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this site for Vacantions!</h1>
    <p>Click this very suspicious button to see vacations.</p>
    <a  asp-area="" asp-controller="ViewVacations" asp-action="List">
        <button style="background-color:aqua;">See offers</button>
    </a>
</div>
