@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>You can't use this site to do any harm to other users!</li>
    <li>You can get your money back within three days from the reservation!</li>
    <li>We are not responsible if your reserved vacation did't turn out the way you had planned!'<br/>We asure that everything that we detail is the way we say it is!</li>
</ul>
<p>There is a problem? Contact us:<br/>0888888888</p>

